NODE_ENV=development
PORT=3000
STUDENT_NAME="Đinh Phúc Tuấn Nhật"
STUDENT_ID=23IT195
SESSION_SECRET=THAY_BANG_CHUOI_NGAU_NHIEN_TOI_THIEU_32_KY_TU
MONGO_READ_URI=mongodb+srv://read_23IT195:THAY_MAT_KHAU_DA_URL_ENCODE@THAY_TEN_CLUSTER/DB_23IT195?retryWrites=true&w=majority&authSource=admin
MONGO_WRITE_URI=mongodb+srv://write_23IT195:THAY_MAT_KHAU_DA_URL_ENCODE@THAY_TEN_CLUSTER/DB_23IT195?retryWrites=true&w=majority&authSource=admin